$openSans: 'Open Sans', Helvetica, Arial, sans-serif;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

body {
  //height: 100%; /* Used to enable scrolling */
  font-family: $openSans;
  color: black;
  background-color: #eecf00; /* For browsers that do not support gradients */
  background: linear-gradient(0deg, rgba(227,218,116,1) 0%, rgba(230,216,60,1) 90%, rgba(232,215,28,1) 100%);
}

/* This rule ensures that the background gradient covers the entire viewport */
html, body {
  height: 100%;
}

#logo {
  width: 25%;
  cursor: pointer;
}

@media (min-width: 0) and (max-width: 776px) {
  #logo {
    width: 70%;
  }
}

// Buttons

.btn-sib{
  font-family: 'Helvetica', 'Arial', sans-serif;
  border: 2px solid;
  line-height: 1;
  padding: 1em 2em;
  font-size: 1em;
  margin-bottom: 20px;
  -webkit-appearance: none;
  background-color: #1c53eb;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  //box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}

h1 { font-weight: 400; }

code { 
  color: #e4cb58;
  font: inherit;
}